<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Wake on Lan</title>
  </head>
  <body>
    {% if 'success' in request.GET %}
    Successfully sent magic packet
    {% endif %}
    <form action="{% url 'wol' %}" method="post">
      {% csrf_token %}
      <div>
        <label for="{{ form.target.id_for_label }}">Target</label> {{ form.target }}
      </div>
      <input type="submit" value="Wake on land">
    </form>
    <br>
    <br>
    <a href="/admin/wol/target/">Manage targets</a>
  </body>
</html>
